.new-task {
  display: block;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);

  animation: slideIn 1s forwards;
  -webkit-animation: slideIn 1s forwards;
}

@keyframes slideIn {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideIn {
  100% {
    -webkit-transform: translateX(0%);
  }
}
